:global(a.navbar-brand) {
  padding: 0;
}

.flex-wrapper {
  display: flex;
  align-items: center;

  span {
    line-height: 35px;
  }
}

.react-icon {
  height: 35px;
  width: 35px;
  background-size: 100% 100%;
  background-image: url('../../assets/icons/react-icon.svg');
}
