{
  "presets":[
    ["env", { 
      "modules": false
    }],
    ["react"],
    ["stage-0"]
  ],
  "env": {
    "test": {
      "presets":[
        ["env", {
          "node": "current"
        }]
      ],
      "plugins": [
        ["istanbul", {
          "useInlineSourceMaps": false
        }]
      ]
    }
  }
}
