{
  "presets":[
    ["env", { 
      "targets": {
        "uglify": true
      },
      "modules": false 
    }],
    ["react"],
    ["stage-0"]
  ],
  "env": {
    "test": {
      "presets":[
        ["env", {
          "node": "current"
        }],
        ["react"],
        ["stage-0"]
      ],
      "plugins": [
        ["istanbul", {
          "useInlineSourceMaps": false,
          "exclude": [
             "**/*.test.js{,x}",
             "webpack.config.js",
             "coverage",
             "dist",
             "node_modules"
          ]
        }]
      ]
    }
  }
}
