{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true,
      "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-one-expression-per-line": 0,
    "react/forbid-prop-types": false,
    "arrow-parens": ["error", "always"],
    "arrow-body-style": 0
  }
}
