{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true,
      "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "react/forbid-prop-types": false,
    "arrow-parens": ["error", "always"],
    "arrow-body-style": 0,
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"],
      "aspects": ["noHref", "invalidHref", "preferButton"]
    }]
  }
}
