@import './styles/theme.css';

@font-face {
  font-family: 'IndieFlower';
  src:  url('./assets/fonts/IndieFlower.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.component {
  height: 600px;
  color: white;
  background-image: url('./assets/images/backgrounds/main-background.jpg');
}

.name-section {
  color: var(--red);
  background: white;

  & .person-name {
    color: blue;
  }
}

.bookmark-icon:before {
  content: url('./assets/images/icons/bookmark.svg');
}

.with-nice-font {
  font-family: 'IndieFlower';
  font-size: 40px;
}
